core/src/test/resources/sanity-checks/qa.for_each_item.yaml
id: for_each_item
namespace: qa

tasks:
  - id: extract
    type: io.kestra.plugin.jdbc.duckdb.Query
    sql: |
      INSTALL httpfs;
      LOAD httpfs;
      SELECT *
      FROM read_csv_auto('https://huggingface.co/datasets/kestra/datasets/raw/main/csv/orders.csv', header=True)
      LIMIT 10;
    store: true

  - id: each
    type: io.kestra.plugin.core.flow.ForEachItem
    items: "{{ outputs.extract.uri }}"
    batch:
      rows: 1
    namespace: qa
    flowId: for_each_item_subflow
    wait: true
    transmitFailed: true
    inputs:
      order: "{{ taskrun.items }}"